<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Django app {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href={% url "trainees" %}>Trainees list</a>
        <a class="nav-link" href="/course/list/">Courses list</a>
        <a class="nav-link" href="/registration/login/">Login</a>
        <a class="nav-link" href="/registration/register/">Register</a>
      </div>
      <div class="main-content">{% block content %} {% endblock %}</div>
