<!-- prettier-ignore -->
{%extends "layout.html"%}
{% block title %}
    Trainees list
{%endblock%} 
{%block content%}
    <h1 class="page-title">List of trainees</h1>
    <a class="btn btn-success" href="{%url 'addTrainee' %}">Add new trainee</a>
    <div class="courses cards-grid">
    {% for trainee in trainees %}
        <div class="trainee card trainee-card">
            <h2 class="card-title">
                <a class="item-link" href={% url 'viewTrainee' id=trainee.id %}>
                    {{ trainee.firstName }}
                </a>
            <h2>
            <h3 class="card-subtitle"> {{ trainee.lastName }}<h3>
            <p class="card-text"> {{ trainee.numOfMonths }}<p>
            <p class="card-text"> {{ trainee.track }}<p>
            <p class="card-text"> {{ trainee.createdAt }}<p>
            <a class="btn btn-danger" href="{%url 'deleteTrainee' trainee.id %}">Delete</a>
        </div>
    {% endfor %}
    </div> 
{%endblock%}
